h1{
    text-align: center;
    font-size: 3rem;
}
.gameContainer{
    font-size: 2rem;
    text-align: center;
    background-color: gray;
    border: none;
    border-radius: 25px;
    width: 90%;
    height: 90%;
    margin-left: 50px;
    box-shadow: 5px 5px 10px 2px;
}
.button{
    font-size: 2.5rem;
    background-color: hsl(180, 100%, 50%);
    border: none;
    border-radius: 10px;
    margin-right: 5px;
}